<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282009131820-qujle6pkvdqqmev652inomof5pvrl5f5</string>
	<key>API_KEY</key>
	<string>AIzaSyA9Bbt62Sd-iw3uCRB0ncRcxeEmlGwaxhU</string>
	<key>GCM_SENDER_ID</key>
	<string>282009131820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.car.carApps</string>
	<key>PROJECT_ID</key>
	<string>admin-87ddb</string>
	<key>STORAGE_BUCKET</key>
	<string>admin-87ddb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282009131820:ios:133403934ce10495e32a89</string>
</dict>
</plist>